
<div class="container col-md-12">
    <div class="title-text text-center pt-16 mb-5">
        <p class="text-emerald-600 text-xl font-bold z-10 after:w-14 after:h-9">SERVICES</p>
        <h1>We Provide Better</h1>
    </div>
    <div class="row service-box">

        <div class="col-md-6 col-sm-12 single-service text-white rounded-md">
            <img src="../../assets/images/pic-1.jpg" alt="" class="rounded-md">
            <div class="overlay rounded-md"></div>
            <div class="service-des w-4/5 m-auto">
                <h3 class="text-center">Hair Styling</h3>
                <hr class="w-3/5 mx-auto bg-white h-1">
                <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam ratione corporis porro beatae odio voluptate minima?</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 single-service text-white rounded-md">
            <img src="../../assets/images/pic-2.jpg" alt="" class="rounded-md">
            <div class="overlay rounded-md"></div>
            <div class="service-des w-4/5 m-auto bottom-1/2">
                <h3 class="text-center">Beard Trim</h3>
                <hr class="w-3/5 mx-auto bg-white h-1">
                <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam ratione corporis porro beatae odio voluptate minima?</p>
            
             </div>
        </div>
       
        <div class="col-md-6 col-sm-12 single-service text-white rounded-md">
            <img src="../../assets/images/pic-3.jpg" alt="" class="rounded-md">
            <div class="overlay rounded-md"></div>
            <div class="service-des w-4/5 m-auto">
                <h3 class="text-center">Hair Cut</h3>
                <hr class="w-3/4 mx-auto bg-white h-1">
                <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam ratione corporis porro beatae odio voluptate minima?</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 single-service text-white rounded-md">
            <img src="../../assets/images/pic-4.jpg" alt="" class="rounded-md">
            <div class="overlay rounded-md"></div>
            <div class="service-des w-4/5 m-auto">
                <h3 class="text-center ">Dry Shampoo</h3>
                <hr class="w-3/4 mx-auto bg-white h-1">
                <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam ratione corporis porro beatae odio voluptate minima?</p>
            </div>
        </div>
    </div>
</div>

    