.title-text p{
    position: relative;
    display: inline-block;
}
.title-text p::after{
    content: '';
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -25px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.container{
    position: relative;
}
.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
}
.social-link .bi{
    height: 40px;
    width: 40px;
    font-size: 20px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    padding: 5px;
    color: #009688;
    cursor: pointer;
    transition: 0.5s;
   
}
.social-link .bi:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}