.title-text p{
    position: relative;
    display: inline-block;
}
.title-text p::after{
    content: '';
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -25px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
